body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin: 20px auto;
    max-width: 800px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#pdf-viewer {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#password-container {
    margin-top: 20px;
}

input {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#error-message {
    color: red;
    margin-top: 10px;
}
